<p style="color: green"><%= notice %></p>

<% if !@events.present? && !@events2.present? then %>
  <div class="d-flex justify-content-center align-items-baseline mt-1 mb-2 row">
    <h5 class="col-sm-6 d-flex justify-content-center"> Nessun risultato trovato! </h5><div class="w-100"></div>
    <img class="col-sm-6" src="/assets/237-536x354.jpg" alt="no results">
  </div>
<%end%>

<div id="events" class="h-5">
  <%# se la ricerca ha almeno un risultato %>
  <% if @events2.present? %>
    <% @events2.each do |event| %>
      <%= render "events/event_ticketmaster", event: event %>
    <% end %>
  <% end %>
</div>

<div id="events" class="h-5">
  <%# se la ricerca ha almeno un risultato %>
  <% if @events.present? %>
    <% @events.each do |event| %>
      <%= render "events/event_predicthq", event: event %>
    <% end %>
  <% end %>
</div>

<style>
  :root {
    --background-color: #f8f9fa; /* #00838F */
  }

  body {
    background-color: var(--background-color);
  }

  .card-event {
    box-shadow: 0em 0em 1em rgba(0,0,0,0.5)
  }
</style>