
<h1>Ciao <%= @user.nome %></h1>
<p>
  Se hai richiesto di resettare la password, clicca sul link sottostante:
</p>
<p>
  <%= link_to @link, @link %>
</p>
<p>
  Se non hai richiesto di resettare la password, ignora questo messaggio.
</p>