<div id="<%= dom_id event %>">
  <p>
    <strong>Event:</strong>
    <%= event.event_id %>
  </p>

  <p>
    <strong>Organizer:</strong>
    <%= event.organizer_id %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= event.coordinates %>
  </p>

</div>
