<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <h3> <%= event['title'] %> </h3>
    <p>
      <a href="<%= event_path(event['id']) %>">apri l'evento</a>
    </p>
  <% end %>
</div>

<%= link_to "Torna alla Home", home_index_path %>
