<style>
  body {
    background: var(--bs-dark);
  }
  .col-xl-3 {
    cursor: pointer;
  }
</style>

<div class="text-center text-white w-100 h-100 p-3 mx-auto flex-column">  
  <main class="px-3">
    <h1 class="fw-bold">Contatti</h1>
    <br>
    <p class="lead fw-bold">
      <i class="fa-regular fa-envelope"></i> team@eventsaggregator.it
      <br>
      <i class="fa-solid fa-phone"></i> +39 123456789
    </p>
  </main>
</div>

<div class="container">
  <div class="row">

    <div class="col-xl-3 col-md-6 mb-4" onClick="window.open('https://github.com/Loenus','_blank');">
      <div class="card border-0 shadow">
        <img src="https://avatars.githubusercontent.com/u/56167164" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="card-title text-truncate mb-0">Lorenzo Lunghi</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" onClick="window.open('https://github.com/ersiii','_blank');">
      <div class="card border-0 shadow">
        <img src="https://avatars.githubusercontent.com/u/35935675" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="card-title text-truncate mb-0">Ersi Regolli</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" onClick="window.open('https://github.com/fracchiooo','_blank');">
      <div class="card border-0 shadow">
        <img src="https://avatars.githubusercontent.com/u/87649986" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="card-title text-truncate mb-0">Francesco Saverio Sconocchia Pisoni</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" onClick="window.open('https://github.com/vincenzozpp','_blank');">
      <div class="card border-0 shadow">
        <img src="https://avatars.githubusercontent.com/u/104559372" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="card-title text-truncate mb-0">Vincenzo Zappavigna</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="fixed-bottom text-center text-white fw-bold">
  <p>EventsAggregator © 2022</p>
</footer>